@import "tailwindcss";

:root {
  --background: #f0f0f0;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  font-family: var(--font-inter), Helvetica, sans-serif;
}

button,
a,
input,
textarea {
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
